<html>
  <head>
    <title>Buy Item 1</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <ul>
      {% for item in items %}
      <li><h1>{{item.name }}</h1>
      <p>{{item.description }}</p>
      <p>{{item.price }}</p></li>
      {% endfor %}
    </ul>
    <button id="buy-button">Buy</button>

    <script type="text/javascript">
      var stripe = Stripe('pk_test_51LhZkNG0PTn54pjymDT2YwXpfa1k6aT6yoaaFj8MOFiMszXatmBGYVP6twQIcCeyI5pTBWBHX0DpUxnHMQL6IFbL00KTnQGXLI');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/order/{{order.id}}', {method: 'GET'})
        .then((response) => { return response.json() })

        .then((session) => {
      console.log(session);
      // Redirect to Stripe Checkout
      return stripe.redirectToCheckout({sessionId: session.sessionId})
    })
      });
    </script>
  </body>
</html>
